<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cs4520_inclassassignments" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CS4520_InClassAssignments"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".MessageActivity"
            android:exported="false" />
        <activity
            android:name=".InClass08Activity"
            android:exported="false" />
        <activity
            android:name=".AuthenticationActivity"
            android:exported="false" />
        <activity
            android:name=".inClass07.NoteActivity"
            android:exported="false" />
        <activity
            android:name=".inClass07.InClass07"
            android:exported="false" />
        <activity
            android:name=".inClass06.InClass06"
            android:exported="false" />
        <activity
            android:name=".inClass05.InClass05"
            android:exported="false" />
        <activity
            android:name=".inClass04.InClass04"
            android:exported="false" />
        <activity
            android:name=".inClass03.InClass03"
            android:exported="false" />
        <activity
            android:name=".inClass02.IC02_Display"
            android:exported="false" />
        <activity
            android:name=".inClass02.IC02_SelectAvatar"
            android:exported="false" />
        <activity
            android:name=".inClass02.InClass02"
            android:exported="false" />
        <activity
            android:name=".inClass01.InClass01"
            android:exported="false" />
        <activity
            android:name=".practice.Practice"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>